.formContainer {
    background-color: #fff; // Đảm bảo màu trắng
    width: 100%; // Thêm width 100%
  }
  
  .formSection {
    padding: 24px;
  }
  
  .sectionTitle {
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .switchContainer {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .errorText {
    color: #d32f2f;
    font-size: 0.7rem;
    margin-top: 4px;
  }
  
  .requiredField {
    color: #d32f2f;
  }
  
  // Thêm style cho grid container
  .gridContainer {
    width: 100%;
    margin: 0;
  }
  .containerFormMovie {
    width: 500px;
  }
  .movie-header-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: #000;
    margin-left: 0;
  }
  .MuiFormLabel-root {
    color: #000 !important; /* Đặt màu chữ thành đen */
  }